@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
}
